#container-albums {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    gap: 1em;
    width: 80%;
    margin: auto;
    padding: 50px 0;
}

.card-album {
    border-radius: 8px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
    width: 200px;
    overflow: hidden;
    margin-bottom: 10px;
    border: 1px solid transparent;
    transition: border 0.3s; /* Transición suave de animación */
}

.card-album:hover {
    border: 1.5px solid rgb(119, 119, 247);
    
}

.header-album img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.content-album {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 25px;
    min-height: 60px;
}

.content-album h4{
    margin: 10px 0;
}

.content-album h4, .header-album img {
    cursor: pointer;
}


